body {
  max-width: 800px;
  margin: 0 auto;
}
.responsive-image {
  width: 10%;
  height: auto;
  max-width: 100px; /* 이미지 최대 너비 지정 */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 540px) {
  header {
    flex-direction: column;
  }
  .responsive-image {
    max-width: 200px; /* 화면 너비가 768px 이하인 경우 이미지 최대 너비를 500px로 조정 */
  }
}

#todo-list {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 540px) and (max-width: 959px) {
  #todo-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  #todo-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.completed {
  color: green;
  text-decoration: line-through;
}
